.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #ececec;
  /* gap: 20px; */
  color: black;
  width: 90%;
  height: 30px;
  margin: 0 auto;
}

.selected {
  text-align: center;
  flex: 1;
}

.character {
  display: flex;
  flex: 20;
}

.name {
  margin-left: 10px;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: center;
  flex: 30;
}

.hp {
  display: flex;
  justify-content: center;
  color: green;
  flex: 2;
}

.ac {
  margin-left: 10px;
  flex: 2;
}

i:hover {
  cursor: pointer;
}

.input {
  background-color: transparent;
  width: 40px;
  /* height: 30px; */
  border: none;
  padding: 0;
  font-size: 16px;
  text-align: right;
}

.buttons {
  display: flex;
  flex: 3
}

.delete-icon {
 padding-left: 5px;
}
