.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  /* gap: 20px; */
  color: black;
  height: 30px;
}

.selected {
  height: -webkit-fill-available;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character {
  display: flex;
  flex: 10;
  gap: 10px;
}

.name {
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: center;
  flex: 15;
}

.hp {
  display: flex;
  justify-content: center;
  color: green;
  flex: 1;
}

.ac {
  flex: 1;
}

i:hover {
  cursor: pointer;
}

.input, .initiative-input {
  background-color: transparent;
  width: 30px;
  border: none;
  padding: 0;
  font-size: 16px;
  text-align: right;
  align-self: flex-end;
}

.name-input {
  background-color: transparent;
  width: max-content;
  /* height: 30px; */
  border: none;
  padding: 0;
  font-size: 16px;
}

.buttons {
  display: flex;
  flex: 2;
  justify-content: space-between;
}

.eye-icon {
  padding: 0 5px;
  transition: all 0.3s ease 0s;
}

.eye-icon:hover {
  color: lightcoral;
}

.eye-icon:active {
  color: grey;
}

.delete-icon {
  padding: 0 5px;
  color: red;
  transition: all 0.3s ease 0s;
}

.delete-icon:hover {
  color: lightcoral;
}

.delete-icon:active {
  color: grey;
}

@media (max-width: 480px) {
  .character {
    width: 10px;
  }
  
  .selected {
    width: 5px;
  }
  .stats{
    flex: none;
  }

  .hp {
    flex: none;
  }
  .initiative-input {
    text-align: center;
    width: 20px;
  }
  
  .name-input {
    width: 48vw;
  }
}
