.page {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: burlywood;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

li:nth-child(2n) {
  background-color: bisque;
}

.li-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 90%;
  margin: 0 auto;
  padding: 0 5px;
  background-color: #141414;
  color: white;
}
