.page {
  flex: 1;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
  width: max-content;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  height: 30px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80px;
}

.prepare-text {
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
}

.initiative-tracker {
  list-style-type: none;
  padding-inline-start: 0;
  border: 2px solid black;
  width: 90%;
}

li:nth-child(2n) {
  background-color: aliceblue;
}

.li-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0;
  background-color: #141414;
  color: white;
}

.selected-space {
  flex: 1;
}

.intiative-name {
  display: flex;
  flex: 10;
  gap: 10px;
}

.name {
  width: 200px;
}

.initiative {
  text-align: right;
  width: 30px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  flex: 15;
}

.heart {
  display: flex;
  justify-content: center;
  text-align: left;
  flex: 1;
}

.shield {
  flex: 1;
  margin-left: 15px;
}

.buttons-space {
  flex: 2;
}
