.card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px;
  padding: 10px;
  background: oldlace;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.char-name:link,
.char-name:visited {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  /* border-bottom: 2px solid red; */
}

.char-name:hover {
  color: grey;
}

.char-info {
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.char-details {
  font-size: 16px;
  font-weight: 600;
}

.stat-title {
  font-weight: bold;
  color: brown;
}

.edit-button {
  color: blue;
  transition: all 0.3s ease 0s;
}

.edit-button:hover {
  color: lightblue;
  box-shadow: 0 5px 3px 0 rgb(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.edit-button:active {
  box-shadow: none;
  transform: none;
  color: grey;
}

.add-button {
  color: green;
  transition: all 0.3s ease 0s;
}

.add-button:hover {
  color: lightgreen;
  box-shadow: 0 5px 3px 0 rgb(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.add-button:active {
  box-shadow: none;
  transform: none;
  color: grey;
}

.delete-button {
  color: red;
  transition: all 0.3s ease 0s;
}

.delete-button:hover {
  color: lightcoral;
  box-shadow: 0 5px 3px 0 rgb(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.delete-button:active {
  box-shadow: none;
  transform: none;
  color: grey;
}
