.card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px;
  padding: 10px;
  background: oldlace;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.char-name {
  font-size: 24px;
}

.char-info {
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.char-details {
  font-size: 16px;
  font-weight: 600;
}

.stat-title {
  font-weight: bold;
  color: brown;
}
