.form {
  position: fixed;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background: white;
  margin-top: 55px;
  padding: 10px;
  width: 40%;
  border-radius: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: block;
  padding: 10px 0px 2px;
  text-transform: uppercase;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.buttonGroup {
  width: 250px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.body {
  display: flex;
}

.error {
  display: flex;
  color: red;
  justify-content: center;
}

.error-icon {
  margin-right: 5px;
}

.error-message {
  text-transform: capitalize;
}

@media (max-width: 480px) {
  .form {
    width: 80vw;
    overflow: hidden;
    overflow-y: scroll;
    gap: 5px;
  }

  .title {
    font-size: 24px;
  }
  
  .inputs {
    gap: 5px
  }
}
