.page {
  display: flex;
}

form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 70vh;
  justify-content: center;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 6px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 5px;
}

button:hover,
button:active {
  background-color: white;
  color: #1976d2;
}


.options-button {
  background-color: white;
  color: #1976d2;
  box-shadow: none;
}

.options-button:hover,
.options-button:active {
  background-color: #1976d2;
  color: white;
}

.input-container {
  position: relative;
}

input {
  height: 48px;
  width: 280px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}

.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

input:focus {
  outline: none;
  border: 2px solid blue;
}

input:focus + .label .text {
  font-size: 12px;
  transform: translate(0, -180%);
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  color: blue;
}

.label .text {
  transition: all 0.15s ease-out;
}