.side-bar {
  width: 30vw;
  height: 100vh;
  background-color: whitesmoke;
  box-shadow: 5px 0 8px 6px #0b7285;
  border-bottom: 2px solid #0b7285;
}

.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #0b7285;
  color: white;
  font-size: 36px;
}