.side-bar {
  width: 30vw;
  height: 100vh;
  background-color: whitesmoke;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #0b7285;
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.btn-container {
  flex: 1;
}

.title {
  flex: 5;
  text-align: center;
}

@media (max-width: 480px) {
  .side-bar {
    position: absolute;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #0b7285;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .header {
    height: 6.6vh;
  }

  .tab-container {
    padding-bottom: 20px;
  }
}
