.form {
  padding: 10px;
  display: flex;

  position: fixed;
  background: white;
  z-index: 100;
  border-radius: 5px;
  margin-top: 25px;
  width: 50%;
}

.label {
  display: block;
  padding: 10px 0px 2px;
  text-transform: uppercase;
}

.title {
  display: flex;
  justify-content: center;
}

.buttonGroup {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.body {
  display: flex;
}
