.container {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.closeIcon {
  float: right;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.garbageIcon {
  color: red;
  font-size: 100px;
}

.buttons {
  margin: 1px;
}

.button {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 5px;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
}

.button:active {
  opacity: 0.5;
}

.cancelButton {
  background: grey;
  border: 1px solid grey;
}

.cancelButton:hover,
.cancelButton:active {
  background-color: initial;
  background-position: 0 0;
  color: grey;
}

.deleteButton {
  background: #ff4742;
  border: 1px solid #ff4742;
}

.deleteButton:hover,
.deleteButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}
